/**
 * Created by yufan on 2017/3/13.
 */
#report {
  text-align: center;
  margin-top: 70px;
  z-index: 1;
}

.clearfix:before, .clearfix:after{
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

.content-wrapper{
  position: relative;
  .content{
    display: inline-block;
  }
}

div.operator{
  position: absolute;
  float: right;
  height: 64px;
  right: 100px;
  top: -133px;
  &>a{
    display: inline-block;
    float: left;
    height: 64px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    color: #4a4a4a;
    &>span{
      display: inline-block;
      float: left;
      line-height: 64px;
      &:hover{
        cursor: pointer;
      }
    }
    &>i.print{
      display: inline-block;
      float: left;
      width: 43px;
      height: 36px;
      margin: 14px 20px 0 0;
      background-image: url("../../assets/生成报告.png");
    }
  }
}

.dispute-case{
  width: 448px;
}
.case-proof {
  width: 300px;
}
.relative-case {
  width: 360px;
  margin-left: 41px;
}

.box-wrapper {
  display: inline-block;
  float: left;
  text-align: left;
  .box-title {
    width: 146px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #39393a;
  }
  ul.box-list {
    li{
      height: auto;
      opacity: 0.9;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      list-style: none;
      margin-top: 20px;
      zoom: 1;
      .box-content {
        height: inherit;
        font-family: PingFangSC;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #9b9b9b;
        display: inline-block;
        float: left;
        padding: 12px 10px 12px 19px;
        &.blue{
          border-left: 12px solid #4990e2;
        }
        &.green{
          border-left: 12px solid #00bfa5;
        }
      }
    }
  }
}

.case-wrapper {
  margin-left: 42px;
  display: inline-block;
  float: left;
  text-align: left;
  .case-title {
    width: 326.1px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #39393a;
  }
  .case-body{
    .chart{
      margin-top: 20px;
      img{
        width: 760px;
        object-fit: contain;
      }
    }
  }
}

//people relation graph
.people-relative-wrapper {
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 41px;
  .people-relative-title {
    width: 326.1px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #39393a;
  }
  .people-relative-body {
    margin: 20px 0 0 21px;
    div.graph {
      position: relative;
      width: 555px;
      height: 555px;
    }
  }
}

//compensate range
.compensate-range-wrapper {
  display: inline-block;
  float: left;
  position: relative;
  top: -135px;
  clear: both;
  .compensate-range-title {
    width: 146px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #39393a;
  }
  .compensate-range-body {
    position: absolute;
    top: 60px;
    .compensate-range-bar {
      width: 652px;
      height: 60px;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      .compensate-range-bar-item {
        height: 60px;
        display: inline-block;
        float: left;
        position: relative;
        .compensate-range-line {
          height: 31px;
          border: solid 1px #9b9b9b;
          position: absolute;
          right: 0px;
          bottom: -33px;
        }
        .compensate-range-oval {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #ffffff;
          border: solid 1px #9b9b9b;
          border-radius: 50%;
          z-index: 20;
          right: -10px;
          bottom: -33px;
        }
        .compensate-range-content {
          width: 170px;
          height: 60px;
          border-radius: 5px;
          background-color: #ffffff;
          border: solid 1px #9b9b9b;
          position: absolute;
          z-index: 10;
          right: -42px;
          bottom: -84px;
          span:nth-child(1) {
            font-family: PingFangSC;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            color: #39393a;
            display: block;
            margin: 8px 0px 2px 0px;
          }
          span:nth-child(2) {
            color: #898989;
          }
          span.down {
            color: #346408;
            margin-left: 10px;
          }
          span.up {
            color: #c30016;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.footer-wrapper {
  text-align: center;
  margin-top: 40px;
  .footer{
    display: inline-block;
    .dot {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border: solid 1px #9b9b9b;
      border-radius: 50%;
      float: left;
      &:not(first-child){
        margin-left: 30px;
      }
      &.active {
        width: 20px;
        height: 20px;
        background-color: #4990e2;
        border: solid 1px #9b9b9b;
        border-radius: 50%;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}
