#home {
    text-align: center;
    margin: 80px 0 0 0;
}

.layer {
    float: left;
    width: 360px;
    height: 587px;
    opacity: 0.9;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.layer:not(:first-child) {
    margin-left: 86px;
}

.layer .layer-title {
    width: 232px;
    height: 56px;
    font-family: PingFangSC;
    font-size: 56px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a90e2;
    margin-left: 45px;
    margin-top: 47px;
}

.layer .layer-content {
    margin-top: 45px;
    text-align: left;
}

.layer .layer-content span {
    width: 270px;
    height: 259.2px;
    font-family: PingFangSC;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9b9b9b;
    display: inline-block;
    margin-left: 45px;
}

.layer .layer-footer {
    margin-top: 44px;
}

.layer .layer-footer .btn {
    width: 270px;
    height: 90px;
    border-radius: 9px;
    background-color: #6da5e7;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.layer .layer-footer .btn div {
    width: 270px;
    height: 48px;
    font-family: PingFangSC;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

.layer .layer-btn-icon {
    width: 108px;
    height: 108px;
    background-color: #6da5e7;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: -40px;
}

.layer .layer-btn-icon img {
    width: 57.6px;
    height: 57.6px;
    object-fit: contain;
    margin-top: 25px;
}