@charset "utf-8";

$width: 1440px;
$height: 1024px;
$padding-top: 100px;
$background-color: #ffffff;
$box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
$font-family:  'Microsoft YaHei',serif;

html,body{
	width: $width;
	height: $height;
	background-color: $background-color;
}
//test
p.link{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	a{
		display: inline-block;
	}
}
#app {
	position: relative;
	width: $width;
	height: $height - $padding-top;
	padding-top: $padding-top;
	font-family: $font-family;
	background-color: $background-color;
	//ul,li
	ul,li{
		list-style: none;
	    padding: 0;
	    margin: 0;
	}
	//common
	h1.logo{
	    position: relative;
	    margin: 0 auto;
	    width: 358px;
	    height: 80px;
	    i{
			position: relative;
			display: inline-block;
			width: 80px;
			height: 80px;
			background: url("../img/logo.png") 0 0 no-repeat;
			background-size: cover;
	    }
	    span{
			position: relative;
			display: inline-block;
			float: right;
			width: 258px;
			height: 64px;
			font-size: 64px;
			line-height: 1;
			text-align: right;
			color: #9b9b9b;
	    }
	}
	img.bg{
		position: absolute;
		bottom: 0px;
		width: 1440px;
		height: 607px;
		object-fit: contain;
		opacity: 0.3;
		z-index: -1;
	}
	//welcome+login
	h1.title{
        height: 64px;
        margin: 0 auto;
        margin-top: 127px;
        font-size: 64px;
        line-height: 1;
        text-align: center;
        color: #9b9b9b;
    }
    h2.subtitle{
        height: 36px;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        color: #9b9b9b;
    }
    img.logining{
        position: absolute;
        top: 546px;
        left: 520px;
        width: 400px;
        height: 274px;
        object-fit: contain;
    }
	//consult、upload
	div.consult,div.upload{
		position: relative;
		margin: 101px 70px 0 70px;		
		font-size: 24px;
		div.left{
			position:relative;
			width: 790px;
			box-shadow: $box-shadow;
			float: left;
			//consult-chat_panel
			.chat_panel{
				height: 526px;
				overflow-y: auto;
				overflow-x: hidden;
				background-color: #ffffff;
				li{    
					display: inline-block;
					width: 100%;
					margin-top: 30px;
					img{
						position: relative;
		                width: 103px;
		                height: 103px;
		                object-fit: fill;
					}
					div{
						position: relative;
						display: inline-block;
						width: 480px;
						margin: 0 29px;
						p.name{
							position: relative;    
    						height: 24px;
			                margin: 4px 0 0 0; 
							color: #39393a;
						}
						p.says{
							line-height: 1.5;
			                margin: 14px 0 0 0; 
							color: #898989;
						}
					}
				}
				li.left{
					img{
						float: left;
						margin-left: 50px;
					}
					div{
						float: left;
						p{
							float: left;
						}
					}
				}
				li.right{
					img{
						float: right;
						margin-right: 50px;
					}
					div{
						float: right;
						p{
							float: right;
							&.name{
								text-align: right;
							}
						}
					}
				}
			}
			//upload-scan_panel
			.scan_panel{
				height: 526px;
				background-color: #ffffff;
				img{
					display: inline-block;
					margin: 21px 21px 0 21px;
					width: 750px;
					height: 465px;
					object-fit: contain;
					border: 1px solid #9b9b9b;
				}
			}
			//info
			.info{
				height: 118px;
				background-color: #4990e2;
				div.tips{
					margin: 30px 0 0 50px;
					color: #ffffff;
					float: left;
					p{
						padding: 0;
						margin: 0;
						height: 24px;
					}
					p.title{
						font-weight: 600;
						margin-bottom: 10px;
					}
				}
				div.icon{
					position: relative;
					top: -20px;
					right: 50px;
					float: right;
					span{
						display: inline-block;
						margin-left: 25px;
						width: 86px;
						height: 86px;
    					line-height: 86px;
						font-size: 49.9px;
						text-align: center;
						border-radius: 50%;
						color: #4a90e2;
						background-color: #ffffff;
						box-shadow: $box-shadow;
					}
					img{
						width: 86px;
						height: 86px;
						margin-left: 25px;
						border-radius: 50%;
						background-color: #ffffff;
						box-shadow: $box-shadow;
						&:hover{
							cursor: pointer;
						}
					}
				}
			}
		}
		div.right{
			position:relative;
			width: 418px;
			height: 645px;
			right: 60px;
			float: right;
			box-shadow: $box-shadow;
			ul{
				position: relative;
			}
			li{
				float: left;
				width: 179px;
				height: 276px;
				margin: 21px 0 0 21px;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
					border: 1px solid #9b9b9b;
					&:hover{
						cursor: pointer;
					}
				}
			}
			div.slidebar{
			    position: absolute;
			    bottom: 6px;
				height: 30px;
			    width: 100%;
    			text-align: center;
				span{
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: #ffffff;
					border: solid 1px #9b9b9b;
					border-radius: 50%;
					&.active{
						background-color: #4990e2;
					}
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
		div.tools{
			position:relative;
			width: 478px;
			float: right;
			li{    
				display: inline-block;
				width: 100%;
				height: 146px;
				margin-bottom: 16px; 
				box-shadow: $box-shadow;
				&:hover{
					cursor: pointer;
				}
				img{
					width: 70.5px;
					height: 80px;
					float: left;
					margin: 33px 0 33px 40px;
				}
				div{
					height: 106px;
					float: left;
					margin: 20px 0 20px 29.5px; 
					border-left: 2px solid #9b9b9b;
					p{
						width: 278px;
						margin: 0 0 0 30px;
					}
					p.title{
						height: 24px;
						color: #4a4a4a;
						margin-bottom: 10px;
					}
					p.info{
						height: 72px;
						line-height: 1.5;
						color: #9b9b9b;
					}
				}
			}
		}
	}
}


