/**
 * Created by yufan on 2017/3/13.
 */
#report {
  text-align: center;
  margin-top: 70px;
  z-index: 1; }

.content-wrapper {
  position: relative; }
  .content-wrapper .content {
    display: inline-block; }

.dispute-case {
  width: 448px; }

.case-proof {
  width: 300px; }

.relative-case {
  width: 360px;
  margin-left: 41px; }

.box-wrapper {
  display: inline-block;
  float: left;
  text-align: left; }
  .box-wrapper .box-title {
    width: 146px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #39393a; }
  .box-wrapper ul.box-list li {
    height: auto;
    opacity: 0.9;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    list-style: none;
    margin-top: 20px;
    zoom: 1; }
    .box-wrapper ul.box-list li .box-content {
      height: inherit;
      font-family: PingFangSC;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #9b9b9b;
      display: inline-block;
      float: left;
      padding: 12px 10px 12px 19px; }
      .box-wrapper ul.box-list li .box-content.blue {
        border-left: 12px solid #4990e2; }
      .box-wrapper ul.box-list li .box-content.green {
        border-left: 12px solid #00bfa5; }

.case-wrapper {
  margin-left: 42px;
  display: inline-block;
  float: left;
  text-align: left; }
  .case-wrapper .case-title {
    width: 326.1px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #39393a; }
  .case-wrapper .case-body .chart {
    margin-top: 20px; }
    .case-wrapper .case-body .chart img {
      width: 760px;
      object-fit: contain; }

.people-relative-wrapper {
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 41px; }
  .people-relative-wrapper .people-relative-title {
    width: 326.1px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #39393a; }
  .people-relative-wrapper .people-relative-body {
    margin: 20px 0 0 21px; }
    .people-relative-wrapper .people-relative-body div.graph {
      width: 555px;
      height: 555px;
      background-color: #ffffff;
      border: solid 1.1px #9b9b9b;
      border-radius: 50%; }

.compensate-range-wrapper {
  display: inline-block;
  float: left;
  position: relative;
  top: -135px;
  clear: both; }
  .compensate-range-wrapper .compensate-range-title {
    width: 146px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #39393a; }
  .compensate-range-wrapper .compensate-range-body {
    position: absolute;
    top: 60px; }
    .compensate-range-wrapper .compensate-range-body .compensate-range-bar {
      width: 652px;
      height: 60px;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
      .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item {
        height: 60px;
        display: inline-block;
        float: left;
        position: relative; }
        .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-line {
          height: 31px;
          border: solid 1px #9b9b9b;
          position: absolute;
          right: 0px;
          bottom: -33px; }
        .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-oval {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #ffffff;
          border: solid 1px #9b9b9b;
          border-radius: 50%;
          z-index: 20;
          right: -10px;
          bottom: -33px; }
        .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-content {
          width: 170px;
          height: 60px;
          border-radius: 5px;
          background-color: #ffffff;
          border: solid 1px #9b9b9b;
          position: absolute;
          z-index: 10;
          right: -42px;
          bottom: -84px; }
          .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-content span:nth-child(1) {
            font-family: PingFangSC;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            color: #39393a;
            display: block;
            margin: 8px 0px 2px 0px; }
          .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-content span:nth-child(2) {
            color: #898989; }
          .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-content span.down {
            color: #346408;
            margin-left: 10px; }
          .compensate-range-wrapper .compensate-range-body .compensate-range-bar .compensate-range-bar-item .compensate-range-content span.up {
            color: #c30016;
            margin-left: 10px; }

.footer-wrapper {
  text-align: center;
  margin-top: 40px; }
  .footer-wrapper .footer {
    display: inline-block; }
    .footer-wrapper .footer .dot {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border: solid 1px #9b9b9b;
      border-radius: 50%;
      float: left; }
      .footer-wrapper .footer .dot:not(first-child) {
        margin-left: 30px; }
      .footer-wrapper .footer .dot.active {
        width: 20px;
        height: 20px;
        background-color: #4990e2;
        border: solid 1px #9b9b9b;
        border-radius: 50%; }
      .footer-wrapper .footer .dot:hover {
        cursor: pointer; }

/*# sourceMappingURL=report.css.map */
